<div id='root'>
  <h3>Hello, World!</h3>
  <h4>Message from static_pages/root.html</h4>
</div>

<% if current_user %>
<h5><%= current_user.username %> is logged in.</h5>
<% else %>
<h5>No one logged in.</h5>
<% end %>
