<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Convergence|Montserrat|Tauri" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div id='root'>
      <h3>Hello, World!</h3>
      <h4>Message from static_pages/root.html</h4>
    </div>
  </body>
</html>
