// Place all the styles related to the Api::Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "constants";

$taskFontSize: 30px;

.team-view {
  display: flex;
}

.col-4-5 {
  width: 78%;
}

#project-task-split {
  display: flex;
}

.col-2-5 {
  width: 50%;
}

.col-1-5 {
  width: 19.5%;
}

#sidebar {
  background: $medshade;
  color: white;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid $lightshade;
}

#empty-team-splash {
  padding: 40px 40px 0 40px;
  font-size: 30px;
  text-align: center;
  color: white;
};

#empty-team-splash-header {
  margin: 20px;
}

#empty-team-splash-button {
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 3px;
  font-size: 15px;
  padding: 15px 30px 15px 30px;
  transition-duration: 0.5s;
  margin: 0 0 40px 0;
  width: auto;
}

#empty-team-splash-button:hover {
  color: $medshade;
  background: white;
}

#empty-team-splash-button:active {
  background: $darkshade;
}

#team-summary {
  width: 100%;
  padding: 10px 20px 10px 20px;
}

#team-summary-members {
  display: flex;
  align-items: center;
  font-size: 35px;
}

.sidebar-list {
  text-align: center;
  border-top: 2px solid white;
}

.ts-member-list-item {
  margin-right: 10px;
}

.sidebar-list-item {
  margin-bottom: 10px;
}

.sidebar-list-item:first-of-type {
  margin-top: 10px;
}

.sidebar-list-item:hover {
  background-color: $negative;
  cursor: pointer;
}

.sidebar-list-item:active {
  background-color: $darkshade;
}

.sidebar-sublist {
  border-top: 1px solid white;
}

#sidebar-project-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  font-size: 20px;
}

#sidebar-project-add:hover {
  color: $lightshade;
  cursor: pointer;
}

.new-project-form {
  text-align: center;
  color: $medshade;
  padding: 20px;
}

.new-project-form * {
  margin: 10px 0 10px 0;
}

.new-project-form h3 {
  font-size: 20px;
}

#ts-add-member:hover {
  color: $lightshade;
  cursor: pointer;
}

#ts-add-member:active {
  color: $darkshade;
}

.member-select-item {
  text-align: center;
  color: $medshade;
}

#member-add-form {
  text-align: center;
  color: $medshade;
  padding: 20px;
}

#member-add-header {
  font-size: 20px;
}


#no-member-message {
  width: 100%;
  text-align: center;
  font-style: italic;
}

.active {
  background-color: $lightshade
}

.project-view {
  background-color: white;
  margin: 10px 0 10px 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: $medshade;
  border-radius: 4px;
  border: 1px solid $medshade;
  padding: 10px;
}

#project-view-header {
  font-size: 25px;
  padding: 20px;
}

.list-item, #new-task-dummy {
  display: flex;
  font-family: serif;
  font-size: 20px;
  color: black;
  align-items: center;
  border-top: 1px solid lightgray;
  padding: 5px;
}

#new-task-dummy {
  font-size: 16px;
  text-align: left;
  padding: 10px;
}

.list-item:last-of-type {
  border-bottom: 1px solid lightgray;
}

.task-detail {
  font-size: 16px;
}

#grabber {
  font-size: 20px;
  flex-basis: auto;
  padding-right: 10px;
}

#grabber:hover {
  cursor: move;
}

#checkmark {
  font-size: 20px;
  flex-basis: auto;
}

#checkmark:hover {
  color: $lightshade;
  cursor: pointer;
}

#task-name {
  margin-left: 10px;
  flex-grow: 1;
  width: 100%;
  text-align: left;
}

.task-user-image {
  height: 30px;
  width: 30px;
  border: 1px solid $medshade;
  border-radius: 15px;
}

.task-user-image:hover {
  border: 2px solid $lightshade;
  cursor: pointer;
}

#completed-check {
  color: $medshade;
}

#no-assignee-img {
  color: gray;
  height: $taskFontSize;
  width: $taskFontSize;
  border: 1px dashed gray;
  border-radius: 15px;
}

#unassigned-img {
  font-size: 45px;
}

#no-assignee-img:hover {
  border: 2px solid $lightshade;
  cursor: pointer;
}


#member-assign-form {
  padding: 20px;
}

#unassigned-select-border {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 1px solid red;
}

#unassigned-selected-border {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 1px solid green;
}
