// Place all the styles related to the Api::Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "constants";

$indexItemHeight: 125px;
$indexItemWidth: 200px;

.large-container {
  width: 95%;
  height: auto;
  background-color: white;
  border: 2px solid $medshade;
  border-radius: 4px;
  margin: 20px;
}

.team-select-org-header {
  padding: 20px;
  margin-left: 10px;
  width: 95%;
  font-size: 30px;
  color: $medshade;
  border-bottom: 1px solid $lightshade
}

.team-index {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.team-index-item {
  height: $indexItemHeight;
  width: $indexItemWidth;
  background-color: $medshade;
  border: 1px solid $lightshade;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
  color: $negative;
}

#new-team-item {
  background-color: transparent;
  border: 5px dashed $medshade;
  color: $medshade;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 15px 10px;
}

.team-index-item:hover {
  background-color: $darkshade;
  cursor: pointer;
}

.team-index-item:active {
  background-color: $lightshade;
}

#new-team-item:hover {
  border-color: $darkshade;
  background-color: $negative;
}

#new-team-item:active {
  border-color: $lightshade;
  background-color: $lightshade;
}

#create-team-plus {
  font-size: 40px;
  height: 40px;
}

#create-team-text {
  margin-bottom: 10px;
}
