// Place all the styles related to the Api::Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "constants";

$indexItemHeight: 125px;
$indexItemWidth: 200px;

.large-container {
  width: 95%;
  height: auto;
  background-color: white;
  border: 2px solid $medshade;
  border-radius: 4px;
  margin: 20px;
}

.team-select-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $lightshade;
  padding: 20px;
  margin: 10px;
}

.team-select-org-header {

  font-size: 30px;
  color: $medshade;
}

.team-index {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.team-index-item {
  height: auto;
  min-height: $indexItemHeight;
  width: $indexItemWidth;
  background-color: $medshade;
  border: 1px solid $lightshade;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
  color: white;
}

#new-team-item {
  background-color: transparent;
  border: 5px dashed $medshade;
  color: $medshade;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 15px 10px;
}

.team-index-item:hover {
  background-color: $darkshade;
  cursor: pointer;
}

.team-index-item:active {
  background-color: $lightshade;
}

#new-team-item:hover {
  border-color: $darkshade;
  background-color: $negative;
}

#new-team-item:active {
  border-color: $lightshade;
  background-color: $lightshade;
}

#create-team-plus {
  font-size: 40px;
  height: 40px;
}

#create-team-text {
  margin-bottom: 10px;
}

.small-user-img {
  height: 40px;
  width: 40px;
  border: 1px solid $medshade;
  border-radius: 20px;
  margin-top: 10px;
}

.member-list {
  display: flex;
  flex-wrap: wrap;
}

.member-select-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
}

.team-select-icon {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  color: $negative;
}

.team-select-user-image {
  border: 1px solid $lightshade
}

.team-select-icon:active {
  color: $darkshade;
}

.default-select-item {
  font-size: 50px;
  padding: 0 2.24px 0 2.24px;
}

.default-select-item, .custom-select-item {
  margin: 0 10px 0 10px;
}

.member-select-username {
  font-size: 15px;
}

.default-image-selected {
  color: $darkshade;
}

.user-image-selected {
  border: 3px solid $darkshade;
}

.new-team-form-box {
  padding: 40px;
  font-size: 15px;
  text-align: center;
}

.member-select-username {
  font-size: 10px;
}

.custom-select-item {
  padding: 4.5px 0 4.5px 0;
}

.member-select-grid {
  margin: 10px 0 20px 0;
}

#create-team-header {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.member-list {
  font-size: 40px;
  align-items: center;
}

.small-default-img {
  margin-top: 10px;
}
