$darkshade: #4472CA;
$medshade: #5E7CE3;
$lightshade: #92B4F4;
$negative: #CFDEE7;


$purple: #B9A7C2;
$green: #B6D0C9;
$bluetint: #C2DFEA;
$blue: #8C95AA;

$darkblue: #4472CA;
$medblue: #5E7CE3;
$lightblue: #92B4F4;
$negative: #CFDEE7;
