// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "constants";

 .splash-header {
   position: fixed;
   background: white;
   top: 0;
   width: 100%;
   align-items: center;
   justify-content: space-between;;
   display: flex;
 }

 .splash-logo {
   display: box;
   width: 100px;
   height: 30px;
   background-image: url('http://i.imgur.com/TVHhphE.png');
   margin: 40px;
   background-size: contain;
   background-repeat: no-repeat;
 }

 .splash-buttons {
   margin-right: 30px;
 }

 .splash-buttons .session-button {
   margin: 10px;
 }

 button, .session-button, .submit-button {
   font-size: 13px;
   font-weight: 500;
   width: 100px;
   text-align: center;
   padding: 10px 20px 10px 20px;
   border-radius: 5px;
   background: white;
   color: $medshade;
   border: 1px solid $medshade;
 }

 button:hover, .session-button:hover, .submit-button:hover {
   background: $darkshade;
   color: white;
   border-color: white;
 }

 button:active, .session-button:active, .submit-button:hover {
   background: $lightshade;
 }

 .demo-button {
   background: $medshade;
   color: white;
   border-color: $lightshade
 }

 .session-modal-box {
  overflow: auto;
  border: 1px none;
  *border: 1px none;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
 }

 .session-modal {
   text-align: center;
   position: static;
   border: 1px solid $medshade;
   -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
           box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
   color: $medshade;
   padding: 40px;
 }


 .close-modal {
   position: absolute;
   right: 10px;
   top: 10px;
   width: auto;
   padding: 5px 10px 5px 10px;
 }

 .session-form {
   text-align: left;
 }

 .form-input {
   border: 1px solid $lightshade;
   height: 30px;
   font-size: 20px;
   width: 100%;
   margin: 5px 0 15px 0;
 }

 .form-title {
   font-size: 30px;
   margin: 20px 0 10px 0;
 }

 .splash-content {
   padding: 200px 40px 0 40px;
   font-size: 30px;
   text-align: center;
   color: white;
   margin-bottom: 100px;
 }


 .splash-head {
   font-size: 40px;
   margin: 0 0 40px 0;
 }

 .splash-content-button {
   background: transparent;
   border: 2px solid white;
   color: white;
   border-radius: 3px;
   font-size: 15px;
   padding: 15px 30px 15px 30px;
   transition-duration: 0.5s;
   margin: 0 0 40px 0;
   width: auto;
 }

 .splash-content-button:hover {
   color: $medshade;
   background: white;
 }

 .splash-content-button:active {
   background: $darkshade;
 }

 .session-modal-buttons {
   display: flex;
   justify-content: center;
 }

 .session-modal-buttons button {

 }

 .user-render {
   color: white;
 }

 #session-errors {
   color: red;
 }

 .session-modal-buttons {
   border-bottom: 1px solid $lightshade;
 }

 .splash-footer {
   width: 100%;
   border-top: 2px solid $medshade;
   border-bottom: 2px solid $medshade;
   background-color: white;
   color: black;
   display: flex;
   padding: 30px 20px 30px 20px;
 }

 .splash-footer-box {
   width: 33%;
   text-align: center;
   border-right: 1px ridge $lightshade;
   border-style: ridge;
 }

 .splash-footer-box:last-of-type {
   border-right: none;
 }

 .splash-footer-box-head {
   font-size: 20px;
   font-weight: 500;
   color: $medshade;
   margin-bottom: 20px;
 }
